<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="leaf-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Welcome to Y &middot; Zi’s website~~</p>
        <p>Y &middot; Zi is a hungry neutron and X-ray scatterer, a food enthusiast, an amateur photographer, and occasionally a master chef.</p>
        <p>This site serves as a central place to access other related websites I’ve created.</p>
        <p>Hope you eat well, be happy, and be safe.</p>
      </div>
      <div class="col-lg-4">
        <p>欢迎来到 Y &middot; Zi 的个人网站~~ </p>
        <p>Y &middot; Zi 是一个研究中子和 X 射线散射的吃货，三流美食的评论者、业余摄影爱好者，偶尔也可以是个大厨</p>
        <p>这个网站是多个相关网站的集中汇总平台</p>
        <p>祝各位幸福健康，平安喜乐 </p>
      </div>
    </div>
  </div>
</section>
