<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <img src="img/kitty.jpeg" alt="profile-pic"
          style="width: 400px; height: 400px; border-radius: 50%; object-fit: cover; display: block; margin: 0 auto;" />
        <div class="intro-text">
          <span class="name">{{ site.title }}</span>
          <hr class="leaf-light" />
          <span class="skills">{{ site.skills }}</span>
        </div>
      </div>
    </div>
  </div>
</header>
